<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shourya Naik</title>
    <meta name="description" content="The digital home for all things Shourya Naik">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../style.css" />
</head>

<body>
    <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue?module'
        function Container() {
            return {
                currentTab: "About",
                tabs: ["About", "Blog", "Projects", "Get in touch"],
                burgerOpen: false,
                mounted() {
                    console.log('I am mounted')
                },
                toggleTabs(name){
                    this.currentTab = name;
                    this.burgerOpen = false;
                }
            }
        }

        function AboutTab() {
            return {
                $template: '#about',
            }
        }

        function BlogTab() {
            return {
                $template: '#blog',

            }
        }
        function ProjectsTab() {
            return {
                $template: '#projects',

            }
        }
        function GetInTouchTab() {
            return {
                $template: '#getintouch',

            }
        }
        createApp({
            Container,
            AboutTab,
            BlogTab,
            ProjectsTab,
            GetInTouchTab
        }).mount()
    </script>

    <template id='about'>
        <div>
            <h2 class="lg-txt">About</h2>
            <p class="sml-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla numquam dolore, impedit
                vitae corporis
                ea, ab odio minus voluptas explicabo blanditiis. Veniam aperiam aspernatur culpa nobis voluptas
                accusantium nisi dicta.</p>
        </div>
    </template>
    <template id='blog'>
        <div>
            <h2 class="lg-txt">Blog</h2>
            <p class="sml-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla numquam dolore, impedit
                vitae corporis
                ea, ab odio minus voluptas explicabo blanditiis. Veniam aperiam aspernatur culpa nobis voluptas
                accusantium nisi dicta.</p>
        </div>
    </template>
    <template id='projects'>
        <div>
            <h2 class="lg-txt">Projects</h2>
            <p class="sml-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla numquam dolore, impedit
                vitae corporis
                ea, ab odio minus voluptas explicabo blanditiis. Veniam aperiam aspernatur culpa nobis voluptas
                accusantium nisi dicta.</p>
        </div>
    </template>
    <template id='getintouch'>
        <div>
            <h2 class="lg-txt">Get in touch!</h2>
            <p class="sml-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla numquam dolore, impedit
                vitae corporis
                ea, ab odio minus voluptas explicabo blanditiis. Veniam aperiam aspernatur culpa nobis voluptas
                accusantium nisi dicta.</p>
        </div>
    </template>

    <main class="hero">
        <section class="hero-txt">
            <h1 class="small-txt"> Hi! I'm </h1>
            <h1 class="large-txt"> Shourya Naik<div class="caret">_</div>
            </h1>
        </section>
        <section class="hero-display">
            <div class="outer-box">
                <div @vue:mounted="mounted()" v-scope="Container()" id="dynamic-display" class="inner-box">

                    <div v-bind:class="['burger', {open: burgerOpen === true}]" @click="burgerOpen = !burgerOpen">
                        <div class="burger-btn"></div>
                    </div>

                    <nav v-bind:class="['navigation', {visible: burgerOpen}]">
                        <button v-for="tab in tabs" v-bind:key="tab"
                            v-bind:class="['nav-tab',{active: currentTab === tab}]" @click="toggleTabs(tab)">
                            {{ tab }}
                        </button>
                    </nav>

                    <div v-bind:class="['text-container', {hidden: burgerOpen === true}]">
                        <div v-if="currentTab === 'About'">
                            <div v-scope="AboutTab()"></div>
                        </div>
                        <div v-else-if="currentTab === 'Blog'">
                            <div v-scope="BlogTab()"></div>
                        </div>
                        <div v-else-if="currentTab === 'Projects'">
                            <div v-scope="ProjectsTab()"></div>
                        </div>
                        <div v-else>
                            <div v-scope="GetInTouchTab()"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


</body>

</html>