<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shourya Naik</title>
    <meta name="description" content="The digital home for all things Shourya Naik">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@400;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/fa20383d9c.js" crossorigin="anonymous"></script>
</head>

<body>
    <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'
        function Container() {
            return {
                currentTab: "About",
                tabs: ["About", "Blog", "Projects", "Get in touch"],
                burgerOpen: false,
                mounted() {
                    console.log('I am mounted')
                },
                toggleTabs(name) {
                    this.currentTab = name;
                    this.burgerOpen = false;
                }
            }
        }

        function AboutTab() {
            return {
                $template: '#about',
            }
        }

        function BlogTab() {
            return {
                $template: '#blog',
            }
        }

        function ProjectsTab() {
            return {
                $template: '#projects',
            }
        }

        function GetInTouchTab() {
            return {
                $template: '#getintouch',
            }
        }

        function EmptyCard() {
            return {
                $template: '#emptycard',
            }
        }
        createApp({
            Container,
            AboutTab,
            BlogTab,
            ProjectsTab,
            GetInTouchTab,
            EmptyCard
        }).mount()
    </script>

    <template id="emptycard">
        <div class="card">
            <p class="sml-txt">Looks like there's nothing to show here :( This site is a work in progress though, and
                new stuff is added all the time!</p>
        </div>
    </template>

    <template id='about'>
        <div>
            <h2 class="lg-txt">About</h2>
            <p class="sml-txt">
                Welcome to the website! I'm an Electrical Engineering Student at Birla Institue of Science and
                Technology, Goa, India.
                <br>
                <br>
                I work with these languages and frameworks :
            <div class="lg-icons">
                <i class="fab fa-html5"></i>
                <i class="fab fa-css3-alt"></i>
                <i class="fab fa-js-square"></i>
                <i class="fab fa-bootstrap"></i>
                <i class="fab fa-sass"></i>
                <i class="fab fa-react"></i>
            </div>
            </p>
            <p class="sml-txt"> I also enjoy reading and debate in my free time :] </p>
        </div>
    </template>

    <template id='blog'>
        <div>
            <h2 class="lg-txt">Blog</h2>
            <p class="sml-txt">I like to blog on Hashnode from time to time. Check out my posts <a
                    href="https://blog.shouryanaik.com" class="sml-txt" target="_blank">here!</a> These are some of my
                most recent ones: </p>
            <div v-scope="EmptyCard()"></div>
        </div>
    </template>

    <template id='projects'>
        <div>
            <h2 class="lg-txt">Projects</h2>
            <p class="sml-txt">While I love learning new technologies, I always have the most fun building projects!
                Here are some of my favourites: </p>
            <div v-scope="EmptyCard()"></div>
        </div>
    </template>

    <template id='getintouch'>
        <div>
            <h2 class="lg-txt">Get in touch!</h2>
            <p class="sml-txt">Thank you for checking out my website! Please feel free to reach out to say hello, point
                out a mistake, or just to send your favourite cat photo! I respond to all emails and DMs</p>
            <ul class="no-list">
                <li>
                    <p class="sml-txt">Twitter (<a class="sml-txt" href="https://twitter.com/sjnaik02"
                            target="_blank"><i class="fab fa-twitter"></i> @sjnaik02</a>) is where I'm most active. Here
                        you'll find tweets about my journey with software development, along with other good stuff!</p>
                </li>
                <li>
                    <p class="sml-txt"> Github (<a class="sml-txt" href="https://github.com/sjnaik02" target="_blank"><i
                                class="fab fa-github"></i> @sjnaik02</a>) is where you can find the code for this
                        website, along with my other projects</p>
                </li>
                <li>
                    <p class="sml-txt"> You can email me at : <a href="mailto:hello@shouryanaik.com" class="sml-txt"><i
                                class="fas fa-envelope"></i>hello@shouryanaik.com </a></p>
                </li>
            </ul>
            <br>
        </div>
    </template>

    <main class="hero">
        <section class="hero-txt">
            <h1 class="small-txt"> Hi! I'm </h1>
            <h1 class="large-txt"> Shourya Naik<div class="caret">_</div>
            </h1>
        </section>
        <section class="hero-display">
            <div class="outer-box">
                <div @vue:mounted="mounted()" v-scope="Container()" id="dynamic-display" class="inner-box">

                    <div v-bind:class="['burger', {open: burgerOpen === true}]" @click="burgerOpen = !burgerOpen">
                        <div class="burger-btn"></div>
                    </div>

                    <nav v-bind:class="['navigation', {visible: burgerOpen}]">
                        <button v-for="tab in tabs" v-bind:key="tab"
                            v-bind:class="['nav-tab',{active: currentTab === tab}]" @click="toggleTabs(tab)">
                            {{ tab }}
                        </button>
                    </nav>

                    <div v-bind:class="['text-container', {hidden: burgerOpen === true}]">
                        <div v-if="currentTab === 'About'">
                            <div v-scope="AboutTab()"></div>
                        </div>
                        <div v-else-if="currentTab === 'Blog'">
                            <div v-scope="BlogTab()"></div>
                        </div>
                        <div v-else-if="currentTab === 'Projects'">
                            <div v-scope="ProjectsTab()"></div>
                        </div>
                        <div v-else>
                            <div v-scope="GetInTouchTab()"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


</body>

</html>