*{
    --background : #000; 
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
.hero{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    background-color: var(--background);
}
.hero-txt{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.small-txt{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    margin: 5% 20%;
}
.large-txt{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: 84px;
    margin: 5% 20%;
}
.caret{
    display: inline-block;
    animation: blinking 1s ease infinite;
}
@keyframes blinking {
    0%{opacity: 0%;}
    50%{opacity: 100%;}
    100%{opacity: 0%;}
    
}

.hero-display{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-box{
    height: 90%;
    width: 75%;
    border: white 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.inner-box{
    height: 94%;
    width: 92.5%;
    border: white 5px solid;
    border-radius: 18.5px;
    overflow-y: scroll;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}
.nav-tab{
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 20px;
    background-color: black;
    border: none;
    position: relative;
    margin:0;
    padding: 0;
}
.nav-tab:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #dcb941;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.nav-tab:hover{
    color: #dcb941;
    background-color: black;

}
.nav-tab:hover:before{
    visibility: visible;
    transform: scaleX(0.8);
}
.nav-tab.active{
    color: #dcb941;
}
.nav-tab.active:before{
    visibility: visible;
    transform: scaleX(0.8);
}
.text-container{
    margin: 0 5%;
}
.lg-txt{
    color: #fff;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}
.sml-txt{
    color: #eee;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.burger{
    display: none;
}
@media screen and (max-width: 1000px){
    .hero{
        flex-direction: column;
    }
    .hero-txt{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .small-txt,
    .large-txt{
        margin: 10% 10% 5% 10%;
    }
    .small-txt{
        font-size: 36px;
    }
    .large-txt{
        text-align: center;
        font-size: 72px;
        margin-top: 0%;
    }
    .hero-display{
        width: 100%;
        height: 100vh;
    }
    .navigation{
        height: 0%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        transition: all ease-in-out 300ms;
    }
    .navigation.visible{
        height: 100%;
    }
    .nav-tab{
        display: none;
        font-size: 32px;
    }
    .navigation.visible .nav-tab{
        display: block;
    }
    .burger{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        margin-top: 5%;
        margin-left: 55%;
    }
    .burger-btn{
        width: 40px;
        height: 6px;
        border-radius: 5px;
        background: #dcb941;
        transition: all 500ms ease-in-out;
    }
    .burger-btn::after,
    .burger-btn::before {
        content: " ";
        position: absolute;
        width: 40px;
        height: 6px;
        border-radius: 5px;
        background: #dcb941;
        transition: all 500ms ease-in-out;
    }
    .burger-btn::before {
        transform: translateY(-16px);
    }
    .burger-btn::after {
        transform: translateY(16px);
    }
    .burger.open .burger-btn{
        transform: translateX(-50px);
        background: transparent;
    }
    .burger.open .burger-btn::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    .burger.open .burger-btn::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }
}