body{
    margin: 0;
    padding: 0;
    background-color: #323232;
}
.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    margin-left: 6.25%;
}
.hero-txt{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.small-txt{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    margin: 5%;
}
.large-txt{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: 84px;
    margin: 5%;
}
.caret{
    display: inline-block;
    animation: blinking 1s ease infinite;
}
@keyframes blinking {
    0%{opacity: 0%;}
    50%{opacity: 100%;}
    100%{opacity: 0%;}
    
}
