*{
    --background : #000; 
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
}
.hero{
    min-height: 100vh;
    width: 100vw;
    display: flex;
}
.hero-txt{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.small-txt{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    margin: 5% 20%;
}
.large-txt{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: 84px;
    margin: 5% 20%;
}
.caret{
    display: inline-block;
    animation: blinking 1s ease infinite;
}
@keyframes blinking {
    0%{opacity: 0%;}
    50%{opacity: 100%;}
    100%{opacity: 0%;}
    
}

.hero-display{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-box{
    height: 85%;
    width: 65%;
    border: white 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.inner-box{
    height: 92.5%;
    width: 92.5%;
    border: white 5px solid;
    border-radius: 5%;
}